
<a href="/"><i class="fa-solid fa-angles-left"></i> Tiếp tục mua sắm</a>
  <section class="h-100 mt-4 mb-4" style="background-color: #eee;">
    <div class="container h-100 py-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black mx-auto">Đơn hàng đã mua</h3>
          </div>
          {{#if orderLists}}
            {{#each orderLists}}
              <div class="card rounded-3 mb-4 cart_Item" data-cartItem-ids="">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="d-flex">
                        <p>Mã đơn hàng:</p>
                        <h5 class="mb-0 ml-3 price">{{this.orderCode}}</h5>
                    </div>
                    <div class="d-flex">
                        <p>Tổng thanh toán:</p>
                        <h5 class="mb-0 ml-3 price">{{this.totalPrice}}$</h5>
                    </div>
                    <div class="d-flex">
                        <p>Trạng thái:</p>
                        <h5 class="mb-0 ml-3 price">{{this.orderStatus}}</h5>
                    </div>
                    <div class="text-end">
                      <a href="/order/order-detail/{{this._id}}" class="btn btn-link text-decoration-none">Xem chi tiết</a>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            {{else}}
              <div class="container text-center mt-4 mb-4 err-bgr">
                <span>Bạn chưa có đơn hàng nào! </span>
                <a href="/">Xem sản phẩm tại đây.</a>
              </div>
            {{/if}}
        </div>
      </div>
    </div>
  </section>