<style>
    .listImgs{
        display: flex;
        width: 90%;
        height: 150px;
        align-items: center;
    }

    .listImgs_img{
        border-radius: 5px;
        margin: 0 5px;
        max-width: 35%;
        max-height: 35%;
        object-fit: cover;
    }
</style>


<div class="row">
    <div class="col-lg-2">
        <h4 style="border-right: 3px solid #201e1e; height: 100%">Danh mục</h4>
    </div>
    <div class="col-lg-6">
        <h2>{{course.name}}</h2>
        <img src="{{lookup course.images 0}}" style="width: 50%; max-height: 200px; object-fit: cover;  margin: 0 5px auto; border: 2px solid #419edc;" class="img-fluid rounded-start" alt="{{this.name}}">
        
        <div class="listImgs">
            {{#each course.images}}
                <img src="{{this}}" class="img-fluid rounded-start listImgs_img" alt="{{../name}}">
            {{/each}}
        </div>
        <button type="submit" id="add_cart" class="btn btn-primary" data-course-id="{{course._id}}">Thêm vào giỏ hàng</button>
        <p>{{course.description}}</p>
    </div>
    <div class="col-lg-4">
        <h3>Comment</h3>    
        <form method="POST" action="/comment/{{course._id}}/create-comment" class="comment_form">
            <input type="text" class="comment_input" name="content" data-courseId="{{course._id}}">
            <button type="submit" class="commnet_btn">Đăng</button>
        </form>
        <div class="comment_block">
            {{!-- render comments --}}
        </div>
        
    </div>
</div>


    {{!-- tạo form hidden để thực hiện submit --}}
    <form id="add-to-cart-form" method="POST"></form>


<script>
    document.addEventListener("DOMContentLoaded", function(){
        //Load comments
        const comment_block = document.querySelector('.comment_block')
        const courseId = document.querySelector(".comment_input").getAttribute('data-courseId')
        const url = `/comment/${courseId}/render-comment`
        fetch(url)
            .then((response) => {
                return response.json()
            })
            .then((comments) => {
                if( Array.isArray(comments) && comments.length > 0){
                    comment_block.innerHTML = ''
                    var htmls = comments.map((comment) => {
                         return `<div class="comment_content">
                                    <h5>${comment.account.name}</h5>
                                    <p>${comment.content}</p>
                                    <small>${comment.createdAt}</small>
                                </div>` 
                    })
                    comment_block.innerHTML = htmls.join("")
                }else{
                    comment_block.innerHTML = `<p>Chưa có bình luận cho sản phẩm này.</p>`
                }
                
            })
            .catch(() => { console.log("Failed to fetch")})


            //add to cart
            const add_cartsBtn = document.querySelectorAll('#add_cart')
                if(add_cartsBtn){
                add_cartsBtn.forEach(function(add_cartBtn){
                    add_cartBtn.addEventListener('click', function (e) {
                    e.preventDefault()
                    const courseId = add_cartBtn.getAttribute('data-course-id')
                    const add_to_cart_form = document.querySelector('#add-to-cart-form')
                    add_to_cart_form.action = '/cart/' + courseId + '?_method=PUT'
                    add_to_cart_form.submit()
                    })
                })
            }
    })

</script>



                            