
<a href="/"><i class="fa-solid fa-angles-left"></i> Tiếp tục mua sắm</a>
  <section class="h-100 mt-4 mb-4" style="background-color: #eee;">
    <div class="container h-100 py-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black mx-auto">Giỏ hàng của bạn</h3>
          </div>
          {{#if cartItems.length}}
          <div class="form-check mb-2">
              <input class="form-check-input" type="checkbox" value="" id="checkbox_all">
              <label class="form-check-label" for="checkbox_all">
                Chọn tất cả
              </label>
          </div>
            {{#each cartItems}}
              <div class="card rounded-3 mb-2">
                <div class="card-body p-2">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <a href="/products/{{this.product.slug}}"><img
                        src="{{lookup this.product.images 0}}"
                        class="img-fluid rounded-3">
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <a class="text-decoration-none" href="/products/{{this.product.slug}}">
                        <h3 class="lead fw-normal">{{this.product.name}}</h3>
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" style="display: flex;">
                      <h5 class="mb-0 price" data_name = "{{this.product.name}}">Giá: {{this.product.price}}</h5><h5>$</h5>
                    </div>
                    
                    <div class="">
                      <input class="form-check-input checkbox_item" type="checkbox" data-product-id="{{this.product._id}}">
                    </div>

                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button type="submit" id="remove_cart"  data-product-id="{{this.product._id}}" class="btn text-danger remove_cart"><i class="fas fa-trash fa-lg"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-warning btn-block btn-lg order">Thanh toán</button>
              </div>
            </div>
            {{else}}
              <div class="container text-center mt-4 mb-4 err-bgr">
                <span>Bạn chưa có gì trong giỏ hàng! </span>
                <a href="/">Xem sản phẩm tại đây.</a>
              </div>
            {{/if}}
        </div>
      </div>
    </div>
  </section>

    {{!-- tạo form hidden để thực hiện submit --}}
    <form id="remove-to-cart-form" method="POST"></form>
    <form id="add-order-form" method="POST"></form>


<script>
  document.addEventListener("DOMContentLoaded", function(e) {
    const checkboxAll = document.querySelector('#checkbox_all')
    const checkboxItems = document.querySelectorAll('.checkbox_item')
    const remove_cartsBtn = document.querySelectorAll('.remove_cart')
    const orderBtn = document.querySelector(".order")

    if(document.querySelectorAll('.checkbox_item:checked').length == 0){
      orderBtn.disabled = true
    }
    if(checkboxItems.length == 1){
      document.querySelector('.checkbox_item').style.display = 'none'
    }

    //click remove_cartsBtn
    if(remove_cartsBtn){
      remove_cartsBtn.forEach(function(remove_cartBtn){
        remove_cartBtn.addEventListener('click', function (e) {
          e.preventDefault()
          const productId = remove_cartBtn.getAttribute('data-product-id')
          const remove_to_cart_form = document.querySelector('#remove-to-cart-form')
          remove_to_cart_form.action = '/cart/' + productId + '?_method=DELETE'
          remove_to_cart_form.submit()
        })
      })
    }

    //click checkbox_all
    checkboxAll.addEventListener('change', () => {
        checkboxItems.forEach(checkboxItem => {
          checkboxItem.checked = checkboxAll.checked
          orderBtn.disabled = !checkboxAll.checked
        })
    })

    //click checkboxItem
    if(checkboxItems){
      checkboxItems.forEach(checkboxItem => {
        if(checkboxItem){
          checkboxItem.addEventListener('change', () => {
            if(document.querySelectorAll('.checkbox_item:checked').length >= checkboxItems.length) {
              checkboxAll.checked = true
            }else if(document.querySelectorAll('.checkbox_item:checked').length > 0){
              orderBtn.disabled = false
            }
            else{
              checkboxAll.checked = false
              orderBtn.disabled = true
            }
          })
        }
      })
    }

    //Click order button
    orderBtn.addEventListener("click", function () {
      const productIdArray = []
      const checkboxItemCheckeds = document.querySelectorAll('.checkbox_item:checked')
      checkboxItemCheckeds.forEach(function (checkboxItemChecked){
        const productId = checkboxItemChecked.getAttribute('data-product-id') //chuỗi nhiều productId
        const productIdArrayFromString = productId.split(',') //tách chuỗi trên thành mảng
        productIdArray.push(...productIdArrayFromString) //đưa hết mảng đã tách vào mảng productIdArray
      })
      const url = `/order/order-products?productIdArray=${encodeURIComponent(JSON.stringify(productIdArray))}`
      const addOrderForm = document.querySelector('#add-order-form')
      addOrderForm.action = url
      addOrderForm.submit()
    })

  })
  
</script>


