
<a href="/"><i class="fa-solid fa-angles-left"></i> Tiếp tục mua sắm</a>
  <section class="h-100 mt-4 mb-4" style="background-color: #eee;">
    <div class="container h-100 py-3">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <div class="d-flex justify-content-between align-items-center mb-4">
            <h3 class="fw-normal mb-0 text-black mx-auto">Giỏ hàng của bạn</h3>
          </div>
          {{#if cartItems.length}}
            {{#each cartItems}}
              <div class="card rounded-3 mb-4 card_Item" data-cartItem-ids="{{this.product._id}}">
                <div class="card-body p-4">
                  <div class="row d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <a href="/products/{{this.product.slug}}"><img
                        src="{{lookup this.product.images 0}}"
                        class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </a>
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <a class="text-decoration-none" href="/products/{{this.product.slug}}">
                        <h3 class="lead fw-normal mb-2">{{this.product.name}}</h3>
                      </a>
                      <p><span class="text-muted">Size: </span>M <span class="text-muted">Color: </span>Grey</p>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1" style="display: flex;">
                      <h5 class="mb-0 price" data_name = "{{this.product.name}}">{{this.product.price}}</h5><h5>$</h5>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <button type="submit" id="remove_cart"  data-product-id="{{this.product._id}}" class="btn text-danger remove_cart"><i class="fas fa-trash fa-lg"></i></button>
                    </div>
                  </div>
                </div>
              </div>
            {{/each}}
            <div class="card">
              <div class="card-body">
                <button type="button" class="btn btn-warning btn-block btn-lg order">Thanh toán</button>
              </div>
            </div>
            {{else}}
              <div class="container text-center mt-4 mb-4 err-bgr">
                <span>Bạn chưa có gì trong giỏ hàng! </span>
                <a href="/">Xem sản phẩm tại đây.</a>
              </div>
            {{/if}}
        </div>
      </div>
    </div>
  </section>

    {{!-- tạo form hidden để thực hiện submit --}}
    <form id="remove-to-cart-form" method="POST"></form>
    <form id="add-order-form" method="POST"></form>


<script>

  
  //Click order button
  const orderBtn = document.querySelector(".order")
  orderBtn.addEventListener("click", function () {
    const card_Items = document.querySelectorAll('.card_Item')
    const productIdArray = []
    card_Items.forEach(function (card_Item){
      const productId = card_Item.getAttribute('data-cartItem-ids')
      const productIdArrayFromString = productId.split(',')
      productIdArray.push(...productIdArrayFromString)
    })
    const url = `/order/orderDetails?productIdArray=${encodeURIComponent(JSON.stringify(productIdArray))}`
    const addOrderForm = document.querySelector('#add-order-form')
    addOrderForm.action = url
    addOrderForm.submit()
  })
    
  document.addEventListener("DOMContentLoaded", function(e) {
    //click remove_cartsBtn
    const remove_cartsBtn = document.querySelectorAll('.remove_cart')
    if(remove_cartsBtn){
      remove_cartsBtn.forEach(function(remove_cartBtn){
        remove_cartBtn.addEventListener('click', function (e) {
          e.preventDefault()
          const productId = remove_cartBtn.getAttribute('data-product-id')
          const remove_to_cart_form = document.querySelector('#remove-to-cart-form')
          remove_to_cart_form.action = '/cart/' + productId + '?_method=DELETE'
          remove_to_cart_form.submit()
        })
      })
    }
  })
  
</script>


