
<style>
    .card:hover {
        transform: scale(1.02); 
        transition: transform 0.3s ease; 
    }
</style>


<div class="row mt-4">
    {{#each products}}
      <div class="col" style="max-width: 280px;">
        <div class="card">
          <a href="/products/{{this.slug}}">
            <img style="width: 100%; height: 200px; object-fit: cover;" src="{{lookup this.images 0}}" class="img-fluid rounded-start" alt="{{this.name}}">
          </a>
          <div class="card-body">
            <h5 class="card-title">{{this.name}}</h5>
            <p class="card-text text-truncate">{{this.description}}</p>
          </div>
          <a href="/products/{{this.slug}}" class="btn btn-primary mb-4">Xem chi tiết</a>
        </div>
      </div>
    {{/each}}
</div>

<div id="pagination" class="d-flex align-items-center justify-content-center mt-4">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li class="page-item">
        {{{previousPage currentPage totalPage}}}
      </li>
      
      {{{pagination totalPage}}}

      <li class="page-item">
        {{{nextPage currentPage totalPage}}}
      </li>
    </ul>
  </nav>
</div>


