
    <div class="row">
        {{#each courses}}
            <div class="card mr-auto mb-4" style="max-width: 540px;">
              <div class="row g-0">
                <div class="col-md-4">
                  <a href="/courses/{{this.slug}}">
                    <img src="{{this.image}}" class="img-fluid rounded-start" alt="{{this.name}}">
                  </a>
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <a href="/courses/{{this.slug}}">
                      <h5 class="card-title">{{this.name}}</h5>
                    </a>
                    <p class="card-text">{{this.description}}</p>
                    <button type="submit" id="add_cart" class="btn btn-primary" data-course-id="{{this._id}}">Add cart</button>
                  </div>
                </div>
              </div>
            </div>
        {{/each}}
    </div>

    <div id="pagination" class="d-flex align-items-center justify-content-center mt-4">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item">
            {{{previousPage currentPage totalPage}}}
          </li>
          
          {{{pagination totalPage}}}

          <li class="page-item">
            {{{nextPage currentPage totalPage}}}
          </li>
        </ul>
      </nav>
    </div>

    {{!-- tạo form hidden để thực hiện submit --}}
    <form id="add-to-cart-form" method="POST"></form>


<script>
  document.addEventListener("DOMContentLoaded", function(e) {

    const add_cartsBtn = document.querySelectorAll('#add_cart')
    if(add_cartsBtn){
      add_cartsBtn.forEach(function(add_cartBtn){
        add_cartBtn.addEventListener('click', function (e) {
          e.preventDefault()
          const courseId = add_cartBtn.getAttribute('data-course-id')
          const add_to_cart_form = document.querySelector('#add-to-cart-form')
          add_to_cart_form.action = '/cart/' + courseId + '?_method=PUT'
          add_to_cart_form.submit()
        })
      })
    }

  })
  
</script>